.full {
  height: 100vh;
background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);}

.target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  background-color: rgb(255, 255, 255,.5);
  padding: 20px;
  border-radius: 10px;
}

h1{
  text-align: center;
  color: navy;
  padding: 20PX;
}
